<div class="container my-3 justify-content-center">
    <div class="row justify-content-center">
        <div class="col-5">
            <div class="card shadow">
                <div class="card-body">
                    <h5 class="card-title text-center mb-4">
                        Reactive Form
                    </h5>
                    <form class="row form" [formGroup]="reactiveForm" (ngSubmit)="OnFormSubmitted()">
                        <div class="col mb-3">
                            <small *ngIf="reactiveForm.get('name').invalid && reactiveForm.get('name').touched" class="text-danger">*Name is required</small>
                            <input type="text" formControlName="name" class="form-control" placeholder="Name" name="name">
                        </div>
                        <div class="col mb-3">
                            <small *ngIf="reactiveForm.get('lastname').invalid && reactiveForm.get('lastname').touched" class="text-danger">*Last Name is required</small>
                            <input type="text" formControlName="lastname" class="form-control" placeholder="Last Name" name="lastname">
                        </div>
                        <div class="mb-3">
                            <small *ngIf="reactiveForm.get('email').invalid && reactiveForm.get('email').touched" class="text-danger">*Email is required</small>
                            <input type="email" formControlName="email" class="form-control" placeholder="Email" name="email">
                        </div>
                        <div class="mb-3">
                            <small *ngIf="reactiveForm.get('mobile').invalid && reactiveForm.get('mobile').touched" class="text-danger">*Mobile number is required</small>
                            <input type="text" formControlName="mobile" class="form-control" placeholder="Mobile number" name="number">
                        </div>
                        <div class="mb-3">
                            <small *ngIf="reactiveForm.get('username').invalid && reactiveForm.get('username').touched" class="text-danger">*Username is required</small>
                            <input type="text" formControlName="username" class="form-control" placeholder="Username" name="username">
                        </div>
                        <div class="mb-3">
                            <small *ngIf="reactiveForm.get('password').invalid && reactiveForm.get('password').touched" class="text-danger">
                                *Password is required <br>
                                *Should be at least 12 characters
                            </small>
                            <input type="text" formControlName="password" class="form-control" placeholder="Password" name="password">
                        </div>
                        <div class="d-flex justify-content-center">
                            <input type="submit" value="Submit" [disabled]="reactiveForm.invalid" class="btn btn-primary submit-btn">
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>