<div class="container my-3">
    <h4 class="fw-bold">1. How to create reactive forms?</h4> <br>
    <p class="ms-4 text-decoration-underline">To create reactive forms in Angular, you first need to import the <code>ReactiveFormsModule</code> in your application's <code>app.component.ts</code> file. From there, you can then define the input fields of your form represented by a FormControl inside a FormGroup.</p>

    <br>

    <h4 class="fw-bold">2. How to add built-in validation for email in reactive form?</h4> <br>
    <p class="ms-4 text-decoration-underline">To add a built-in email validation to a form control in a reactive form, you use the <code>Validators.email</code> function. This function will check if the entered value is a valid email format.</p>

    <br>

    <h4 class="fw-bold">3. How to add built-in validation for required fields in reactive form?</h4> <br>
    <p class="ms-4 text-decoration-underline">To add a built-in validation for required fields in reactive form, you use the <code>Validators.required</code> function. This function reminds the user that the specified field should not be left empty.</p>

    <br>

    <h4 class="fw-bold">4. How to add regex in validation for reactive forms?</h4> <br>
    <p class="ms-4 text-decoration-underline">To add regex (or expression) in validation for reactive forms, you use the <code>Validators.pattern</code> function. This function is particularly useful in input fields such as usernames if you only want the user to use alphanumeric characters and no special symbols.</p>

    <br>

    <h4 class="fw-bold">5. How to generate routing?</h4> <br>
    <p class="ms-4 text-decoration-underline">To generate routing in Angular, you can do it in the Angular CLI using the <code>ng generate module app-routing</code> command. Although, this is not really necessary as Angular automatically generates the routing module upon the creation of your project.</p>

    <br>

    <h4 class="fw-bold">6. How to configure routes with parameters?</h4> <br>
    <p class="ms-4 text-decoration-underline">To configure routes with parameters, you simply add a colon (:) after your route to specify the parameter. <br> Example: <code>path: 'Home', component: HomeComponent</code></p>

    <br>

    <h4 class="fw-bold">7. What is <code class="text-dark">DebounceTime</code> in RxJS?</h4> <br>
    <p class="ms-4 text-decoration-underline"><code>debounceTime</code> is an RxJS operator that essentially adds a delay to the emission of values. This is commonly used in search bars wherein it reduces the number of unnecessary requests or actions taken while the user is still typing.</p>

    <br>

    <h4 class="fw-bold">8. What is the <code class="text-dark">pipe</code> operator?</h4> <br>
    <p class="ms-4 text-decoration-underline">The <code>pipe()</code> operator is used to connect multiple RxJS operators together. An example is when you want to double a value by using the <code>map</code> operator and then only display the values that are greater than 10 by using the <code>filter</code> operator.</p>

    <br>

    <h4 class="fw-bold">9. What is <code class="text-dark">distinctUntilChanged operator?</code></h4> <br>
    <p class="ms-4 text-decoration-underline">The <code>distinctUntilChanged</code> operator basically ensures that the emitted values are different from the previous emitted value. This helps avoid duplicate values being displayed.</p>

    <br>

    <h4 class="fw-bold">10. What is the <code class="text-dark">filter</code> operator in RxJS?</h4> <br>
    <p class="ms-4 text-decoration-underline">The <code>filter</code> operator is used to emit only those values that satisfy a specific condition. This helps in selectively processing emitted items that match certain criteria.</p>
</div>